<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>My Garanties - home</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><%= t 'global.title' %></h3>
                        <nav class="nav nav-masthead">
                            <%= link_to t('global.home'), '/',html_options={class: current_page?('/') ? 'nav-link active' : 'nav-link'} %>
                            <%= link_to t('global.login'), '/users/sign_in',html_options={class: current_page?('/users/sign_in') ? 'nav-link active' : 'nav-link'} %>
                            <%= link_to t('global.contact'), '/#',html_options={class: current_page?('/contact') ? 'nav-link active' : 'nav-link'} %>
                        </nav>
                    </div>
                </div>

                <div class="cover-container">
                    <%= yield %>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p><%= t 'footer.text' %>
                            <a href="http://lucas.zientek.fr/">Lucas ZIENTEK</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>
